# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMSSW_BASE
CMSSW_*_*_*
*/bin/*

# Root-related files
*.root
*.pcm
*.rootmap

# CMSSW
*CMSSW*

# Plots
*png
*pdf

# condor script
*jdl

# emacs local variable
.dir-locals.el

# My special files
ParticleTree.hh
ParticleTree.C
backup/
Training/test/weights*/
Training/test/dataset/
*_dir/
*plots/
*/test/*NTrees*/
*/test/*Depth*/
*/test/*Beta*/
*/test/*Vars*/
*ShrinkageBDTG/
*/2017FlowMCRequest/
*log
*lib*
*~
*.compiles*
*lists*
MCStudies/MCSamples
D0Productions/*
!D0Productions/skimMC.C
!D0Productions/skimReco.C
!D0Productions/cmssw_latest
!D0Productions/skim2D.C
!D0Productions/run2D.C
!D0Productions/D0HM?_pPb.list
!Utilities/bin/*
*log*
*/test/*list*
*/test/*xml
Training/scripts/appBDT3to4/
Training/scripts/appMVA/*.xml
Training/scripts/trainPrep/*list*
GenParticleAnalysis/NewRequests/
Training/test/2021*
Training/scripts/RectCuts/*list*
**/Test/
**/Test2/
**/*.list.*
Training/scripts/appMVA/legacyBefore20211115/
MCStudies/MCRequests/pythons/
Training/Macros/*list
Training/scripts/skimTree/*.list
MCStudies/MCRequests/batch/
Training/scripts/**/*.list
**/dataset/
Training/scripts/trainMVA/testcv.xml
Training/scripts/appMVA/test.sh
Training/scripts/appMVA/cms.txt
Training/scripts/appMVAToNTuple/
Training/scripts/appMLP3to4/
Training/scripts/appMVA/legacy/
ProduceNTuples/**/*.list
ProduceNTuples/pT3to4/run_pT3to4.sh
ProduceNTuples/run_pT3to4_MB.sh
Spectra/LamCtoD/*.csv
Fit/D0_Fit/*fonll*txt
Fit/*_Fit/*alice*txt
Spectra/LamCtoD/*LamToKs*txt
Spectra/LamCtoD/Ks*.txt
Spectra/LamCtoD/Lam*.txt
PromptExtraction/FONLL/tools/*/*txt
PromptExtraction/FONLL/**/*txt
PromptExtraction/FONLL/*list
PromptExtraction/**/*list
**/__pycache__/
**/OpenHF2020/
**/OpenHF2020.tar.gz
**/crab_projects/
*pyc
Cert_*_JSON_NoL1T.txt

MCStudies/MCRequests/b_ff_decay/Bu_acc_dir_20k/
MCStudies/MCRequests/b_ff_decay/Bu_acc_hard.py
MCStudies/MCRequests/b_ff_decay/PYTHIA_SPECTRA/Bd_acc.root.bak
MCStudies/MCRequests/b_ff_decay/PYTHIA_SPECTRA/test.py
MCStudies/MCRequests/b_ff_decay/bquark_record.txt
MCStudies/MCRequests/b_ff_decay/record.txt
MCStudies/MCRequests/b_ff_decay/temp/
MCStudies/MCRequests/b_ff_decay/temp_dir_123/
MCStudies/MCRequests/b_ff_decay/template.py

Fit/LamCFit/sidebands/*.txt
