# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMSSW_BASE
CMSSW_*_*_*
*/bin/*

# Root-related files
*.root
*.pcm
*.rootmap

# CMSSW
*CMSSW*

# Plots
*png
*pdf

# condor script
*jdl

# My special files
ParticleTree.hh
ParticleTree.C
backup/
Training/test/weights*/
Training/test/dataset/
*_dir/
*plots/
*/test/*NTrees*/
*/test/*Depth*/
*/test/*Beta*/
*/test/*Vars*/
*ShrinkageBDTG/
*/2017FlowMCRequest/
*log
